<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../../assets/img/logo.png" alt="logo">
        <h2 matSubheader class="slogan mt-2"><span>Central Ailos</span></h2>
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>menu</mat-icon><span>Menu</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>search</mat-icon> <span>
            Pesquisa
        </span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>star_border</mat-icon> <span>
            Favoritos
        </span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>textsms</mat-icon> <span>
            Mensagens
        </span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>tune</mat-icon> <span>
            Opções
        </span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>account_balance</mat-icon> 
        <span>Central Ailos
        </span>
    </a>
</mat-nav-list>
       
   
