
mat-toolbar{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  background-color: #ffffff;
  height: 5rem;
  padding: 0 50px;

  .dicas-admissao{
    background-color: #ffffff;
    border-color: #165C7D;
    color: #165C7D;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
    padding: 1rem 1rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 3px;
    margin: 0 8px;
    &:hover{
       background-color:#dfe7eb;
    }
  }
  .nova-admissao{
    background-color: rgba(22, 92, 125);
    border-color: rgba(22, 92, 125);
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans';
    padding: 1rem 1rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 3px;
    margin: 0 8px;
    &:hover{
      background-color: rgb(11, 67, 94);
   }
  }
}
