mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    height: 6.5rem;
    padding: 0 50px;;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.button-dicas{
    background-color: rgba(22, 92, 125, 0.08);
    border-color: #165C7D;
    color: #165C7D;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    padding: 0.6875rem 1.125rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 3px;
}