<mat-toolbar class="justify-content-between">
  <h1>
    NOVA ADMISSÃO DE COOPERADO
    <p class="braedcrumb">Cadastro/Adimissão Cooperado/ Nova Admissão de Cooperado</p>
  </h1>
  <div class="group-info justify-content-between align-items-center">
    <div>
        <button (click)="incrementa()" mat-menu-item class="user-image-icon mt-1" >
            <mat-icon>notifications_none</mat-icon>
            <span  class="notification">{{notification}}</span>
        </button>
    </div>
    <div class="coop ">
        VIACREDI
    </div>
    <button mat-button class="user mt-1">
      <img src="../../../../assets/img/perfil.jpg" alt="perfil" class="user-image">
    </button>
</div>
</mat-toolbar>
