<section class="content" >
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <h2>Informe o CPF do futuro Cooperado (a)</h2>
    <div class="texto-aux">
        <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.</p>
        <p>Digite apenas os números (sem pontos ou traços).</p>
    </div>
    <div>
        <form class="form">
            <label for="cpf">CPF</label>
            <div class="group-busca">
                <input id="cpf" type="text" [(ngModel)]="cpf" placeholder="000.000.000-00" class="input" name="cpf">
                <button (click)="onSubmit()" class="button-input"> Consulta por CPF </button>
            </div>
        </form>
    </div>
    <section class="cards" *ngIf ="mostra">
        <mat-card>  
                <h4>SITUAÇÃO CADASTRAL DO CPF</h4>
                <p>Consulta na Receita Federal</p>
                <div>
                    <div class="group-info">
                        <mat-icon>person</mat-icon>
                        <div class="row">
                            <label for="nome">Nome </label>
                            <span id="nome">{{cooperado[0].info?.nomeCompleto}}</span>
                        </div>
                    </div>
                    <div class="group-info">
                        <span *ngIf="cooperado[0].info?.situacao === 'REGULAR'">

                            <mat-icon class="check">check_circle_outline</mat-icon>
                        </span>
                        <span *ngIf="cooperado[0].info?.situacao === 'IRREGULAR'">

                            <mat-icon class="not-check">cancel</mat-icon>
                        </span>
                        <div class="row">
                            <label for="nome">SITUAÇÃO do CPF </label>
                            <span id="nome">{{cooperado[0].info?.situacao}}</span>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card id="contas" *ngFor ="let conta of cooperado[0].contas" >
                <h4>CONTA {{conta.tipo}} </h4>
                <p>{{conta.instituicao}}</p>
                <div>
                    <div class="group-info">
                        <mat-icon>payment</mat-icon>
                        <div class="row">
                            <label for="cartao">Cartão</label>
                            <span id="cartao">{{conta.numero}}</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </section>
    
</section>
