.cards{
  padding-top: 35px;
  display: flex;
}
.cards > mat-card{
  width: 280px;
  height: 180px;
  margin-right: 16px;
}
mat-card{
  padding: 20px 30px;
}

mat-card h4{

  font-weight: bolder;
  margin-bottom: 0px;
  font-size: 14px;
  padding-bottom: 0px;
  height: 18px;
}
mat-card p, label{
  color: #918f8f;
  font-size: 11px;
  height: 18px;
}
mat-card .group-info{
  display: flex;
  margin-top: 15px
}
mat-card .group-info mat-icon{
  margin-right: 20px;
  margin-top: 10px;
  color: #918f8f;

}
mat-card .group-info .check{
  color: chartreuse;
}
mat-card .group-info .not-check{
  color: rgb(228, 29, 3);
}
mat-card #contas h4{
  text-transform: capitalize;
}
