
<mat-card>
  <h4>SITUAÇÃO CADASTRAL DO CPF</h4>
  <p>Consulta na Receita Federal</p>
  <div>
      <div class="group-info">
          <mat-icon>person</mat-icon>
          <div class="row">
              <label for="nome">Nome </label>
              <span id="nome">{{cooperado$}}</span>
          </div>
      </div>
      <!-- <div class="group-info">
          <span *ngIf="cooperado$[0].info.situacao === 'REGULAR'">

              <mat-icon class="check">check_circle_outline</mat-icon>
          </span>
          <span *ngIf="cooperado$[0].info.situacao === 'IRREGULAR'">

              <mat-icon class="not-check">cancel</mat-icon>
          </span>
          <div class="row">
              <label for="nome">SITUAÇÃO do CPF </label>
              <span id="nome">{{cooperado$[0].info.situacao}}</span>
          </div>
      </div> -->
  </div>
</mat-card>
<!-- <mat-card id="contas" *ngFor ="let conta of cooperado$[0].contas" >
  <h4>CONTA {{conta.tipo}} </h4>
  <p>{{conta.instituicao}}</p>
  <div>
      <div class="group-info">
          <mat-icon>payment</mat-icon>
          <div class="row">
              <label for="cartao">Cartão</label>
              <span id="cartao">{{conta.numero}}</span>
          </div>
      </div>
  </div>
</mat-card> -->
